<% include ../partials/header %>

<div class = "container">
    
    <div class = "row">
        <h1><%= site.name %></h1>
    </div>
   
    <div class = "row">
        <p><img class="materialboxed" width="300px" src="<%= site.url %>"></p>
        <p><%= site.description %></p>
    </div>
    
    <% if (LoggedIn && trueSiteOwnership) { %>
            <div class ="row">
                <a href="/sites/<%= site._id %>/edit" class="btn">Edit</a>
            </div>
    <% } %>    
    
    <div class ="row">
        <a href="/sites/<%= site._id %>/comments/new" class="btn">Add a new comment</a>
    </div>
    
    <div class="row">
        <ul class="collection">
            <% site.comments.forEach(function(foundComment){ %>
              <li class="collection-item avatar">
                  <img src="http://www.florencevillas.com/assets/73755607/images/img-testimonial.jpg" alt="" class="circle">
                  <span class="title"><%= foundComment.author.username %></span>
                  <p><%= foundComment.text %><br>
                      <% if (LoggedIn && foundComment.author.id.equals(currentUser._id)){ %>
                          <a href="/sites/<%= site._id %>/comments/<%= foundComment._id %>/edit" class="btn">Edit</a>
                          <form id="delete-form" action="/sites/<%=site._id %>/comments/<%=foundComment._id %>?_method=DELETE" method="POST">
                              <input type="submit" class="btn red darken-4" value="Delete">
                          </form>
                      <% } %>      
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
         <% }) %>
        </ul>
    </div>
    
    
</div>

<% include ../partials/footer %>
