<% include ../partials/header %>

<div class = "container">
    
    <div class = "row">
        <h1><%= site.name %></h1>
    </div>
   
    <div class = "row">
        <p><img class="materialboxed" width="300px" src="<%= site.url %>"></p>
        <p><%= site.description %></p>
    </div>
    
    <div class ="row">
        <a href="/sites/<%= site._id %>/edit" class="btn">Edit</a>
    </div>
    
    <div class ="row">
        <a href="/sites/<%= site._id %>/comments/new" class="btn">Add a new comment</a>
    </div>
    
    <div class="row">
        <ul class="collection">
            <% site.comments.forEach(function(foundComment){ %>
              <li class="collection-item avatar">
                  <img src="" alt="" class="circle">
                  <span class="title"><%= foundComment.author %></span>
                  <p><%= foundComment.text %></p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
         <% }) %>
        </ul>
    </div>
    
    <div class = "row">
        <% site.comments.forEach(function (theComment){%>
            <%= theComment.text %>
        <% }) %>
    </div>
    
</div>

<% include ../partials/footer %>
